
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    color: white;
    font-size: 14px;
}

.delete-btn {
    background-color: #e34d59;
}
